
hr {
	color: #ddd;
	background-color: #ddd;
	height: 1px;
}
.btn.square {
	border-radius: 0;
}
.hidden {
	display: none;
}
.no-gutter > [class*='col-'] {
	padding-right:0;
	padding-left:0;
}
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}
#map {
	height: 703px;
}
#optionsPane {
	background-color: #f5f5f5;
	overflow-y: scroll;
}
.panel-group .panel {
	border-radius: 0;
}
.panel-group {
	margin-bottom: 0;
	overflow-y: scroll;

}
.panel-group .panel+.panel {
	margin-top: 0;
}
.modal-dialog.dual {
	width:95%;
}
.carousel-caption {
	top: 0;
	bottom: auto;
}
.carousel-indicators li {
	border-radius:0;
	height: 14px;
	width: 14px;
}
.carousel-indicators .active {
	height: 16px;
	width: 16px;
}

@media (min-width: 730px){
	.modal-dialog {
		width:720px;
	}
}
@media (min-width: 1450px){
	.modal-dialog.dual {
		width:1440px;
	}
}
@media (max-width: 730px){
	.carousel-caption > h4{
		font-size: 10px;
	}
	.carousel-indicators li {
		height: 10px;
		width: 10px;
	}
	.carousel-indicators .active {
		height: 12px;
		width: 12px;
	}
}
@media (max-width: 1450px){
	.dual .carousel-caption > h4{
		font-size: 10px;
	}
	.carousel-indicators li {
		height: 10px;
		width: 10px;
	}
	.carousel-indicators .active {
		height: 12px;
		width: 12px;
	}
}
@media (max-width: 2000px){
	.modal-body {
		font-size: 10px;
	}
}

